doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/css/main.css')
    link(href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet")

  body
    block content
