doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

  body
    block content
